commons-csv-1.1.jar
spark-csv_2.11-1.4.0.jar
src/test/resources/h1bvisa-2014.csv

metastore_db/
.idea/
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
