language: scala
sudo: false
dist: trusty
cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
matrix:
  include:
    - jdk: oraclejdk8
      scala: 2.11.12
      env: TEST_SPARK_VERSION="2.2.1" LUCENE_ANALYZER="en" LINKER_METHOD="cartesian"
    - jdk: openjdk8
      scala: 2.11.12
      env: TEST_SPARK_VERSION="2.2.1" LUCENE_ANALYZER="en" LINKER_METHOD="collectbroadcast"
    - jdk: openjdk8
      scala: 2.11.12
      env: TEST_SPARK_VERSION="2.2.1" LUCENE_ANALYZER="whitespace" LINKER_METHOD="cartesian"
    - jdk: oraclejdk8
      scala: 2.11.12
      env: TEST_SPARK_VERSION="2.2.1" LUCENE_ANALYZER="whitespace" LINKER_METHOD="collectbroadcast"
script:
  - sbt ++$TRAVIS_SCALA_VERSION clean update
      -Dlucenerdd.linker.method=${LINKER_METHOD}
      -Dlucenerdd.spatial.linker.method=${LINKER_METHOD}
      -Dlucenerdd.analyzer.name=${LUCENE_ANALYZER} -test
  - sbt ++$TRAVIS_SCALA_VERSION scalastyle
  - sbt ++$TRAVIS_SCALA_VERSION assembly
  - travis_wait 30 sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport
after_success:
  - bash <(curl -s https://codecov.io/bash)
